* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: linear-gradient(to right top, #121418, #101013, #0d0b0e, #070506, #000000);
    background-size: cover;
    height: 60vh;
    color: white;
}